
.banner {
    background-image: url("https://i.ibb.co/y6W0h6r/bannarmain111.jpg");
    /* background-color: #cccccc; */
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.329);
  }

  .banner_text h1{
      /* font-family: 'Merriweather', serif; */
      font-family: Sansita One,serif;
      font-weight: 400;
      font-style: normal;
      font-size: 5.2rem;
      line-height: 1.2em;
  }

  .btn_color{
    background-color: #b4d5e5 !important;
    /* width: 120px; */
  }